<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>세준이가 필요한 정보</title>
</head>
<body>
    <h1>terminal에서 버전 관리 하는 방법</h1>
    <ol>
        <!-- 초기화 시키는 부분 -->
        <li>git init</li> 
        <!-- 원격 연결 -->
        <li>git remote add origin <깃허브 주소> </li>
        <!-- pull 하는 방법 (서버에 저장된 코드를 다운) -->
        <li>git pull origin main</li>
        <!-- commit 하는 방법 -->
        <li>git add .</li>
        <li>git commit -m "first- commit"</li>
        <!-- push 하는 방법 -->
        <li>git push origin main</li>
    </ol>
</body>
</html>